.search-results-container{
    text-align:center;

}

.profile-img {
    width:100px;
    height:100px;
    display:inline-block;
}

.location-tag{
    width:40px;
    height:30px;
}
.entity-result {
    white-space:normal;
    display:inline-grid;
    background: #0099ff;
    margin-left:10%;
    border-radius: 25px;
    width:50%;
    border: 2px solid rgb(0, 0, 0);
    padding: 2%;
}
.result-name {
    font-size:200%;
    text-align:center;
    position:relative;
    white-space:normal;
    display:inline-block;
}
.result-role {
    text-align:center;
    position:relative;
    font-size:150%;
}
.result-tags-list {
    text-align:center;
    list-style:none;
    margin:20px

}

.table{
	display: flexbox;
	margin: 0 auto;
}


.tag {
    border-radius: 25px;
    border: 1px solid rgb(0, 0, 0);
    padding:3px;
    display: inline;
    white-space: nowrap;
    margin-top:20px;

}


.result-location{
    float:right;
}

h1{
    text-align:center;
}

body{
    min-height: 100vh;
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    background-image:url("https://adesso-sweden.se/adesso-sweden-se/header-sweden-without-text_W1920xH768_CUTOUT.png");
    background-color:purple;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align:center;

}

.competence-tag-link{
    color:black;
    text-decoration:none;

}

a{
    text-decoration:none;
    color:black;
}
a:visited{
    text-decoration:none;
    color:black;
}

.description{
    width:50%
    text-align:center;
}
