$background_image:url("https://adesso-sweden.se/adesso-sweden-se/header-sweden-without-text_W1920xH768_CUTOUT.png");
$btnColor: #4ec6c6;
$btnHoverColor:#a8d2e6;
$headerColor:#009fd1;
$footerColor:rgb(1,2,3);
$textColor:black;
/*$font:*/


:root {
  --skanova-blue: #009fd1;
  --skanova-lightblue: #a8d2e6;
  --skanova-darkblue: #006a89;
  --light-gray-blue: #607d8b;
  --dark-gray-blue: #546e7a;
  --skanova-orange: #ea800f;
  --black: #1e1e1c;
  --gray1: #727171;
  --gray1-2: #919191;
  --gray2: #bebfbf;
  --gray3: #d1d1d1;
  --gray4: #f4f4f4;
  --gray5: #204253;
  --gray6: #f0f0f0;
  --gray7: #ccc;
  --box-shadow: rgb(0 0 0 / 29%);
  --green: #008000;
  --link-blue: #3b69d6;
  --error-red: #c32827;
  --confirmation-green: #0f0;
  --hover-blue: #e2eef4;
  --warningcolor: #e4175c;
  --white: #fff;
  --iceblue: #dcf3ff;
  --warning-orange: #ff7f11;
}